@media all and (max-width: 991px) {
  .header-container {
    min-width: 740px !important;
  }
  .search__input{
    width: 30vw !important;
  }
  .navbar{
    font-size: 14px !important;
  }
  .slider-content{
    margin-left: 15%;
  }
}
